.liveVideo {
  width: 300px;
  border: 1px solid white;
  margin-left: 2px;
}

.teste {
  color: black;
  float: right;
}

.imageContainer {
  display: flex;
}

.imageGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.imageGridItem {
  position: relative;

  span {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 13px;
    left: 275px;
    cursor: pointer;
    display: none;
  }

  &:hover {
    span {
      display: block;
    }
  }
}

.select {
  height: 22px;
}
